.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}
input {
  color: black;
}
.minired {
  color: red;
  font-size: 12px;
}
.green{
  font-size: 20px;
  color: green;
  font-weight: bold;
}
table {
  border: 0px solid black;
}
td {
  padding: 5px;
}
button {
  color: black;
  font-weight: bold;
}
